section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.logInForm{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px;
}

.formSignUp{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 50px;
}